/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2C2D35;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 15px;
}

.visibility-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  bottom: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.header {
  background-color: #E1EDE6;
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  .header__container {
    flex-direction: column;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__inner {
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .header__inner {
    width: 100%;
    justify-content: space-between;
    padding: 17px 0;
  }
}

.logo {
  padding: 33px 0;
}
@media (max-width: 576px) {
  .logo {
    width: 100%;
    text-align: center;
    padding: 17px 0;
    border-bottom: 1px solid #86928B;
  }
}
.logo__image {
  width: 143;
  aspect-ratio: 1;
}

.burger-btn {
  display: none;
}
.burger-btn__icon {
  font-size: 30px;
  transition: color 0.3s, background-color 0.3s;
}
@media (max-width: 576px) {
  .burger-btn {
    display: block;
  }
  .burger-btn .hidden {
    display: none;
  }
}

.close-btn__icon {
  font-size: 30px;
}
@media (min-width: 576px) {
  .close-btn {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .nav {
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .nav {
    display: none;
  }
}
.nav__link {
  font-size: clamp(16px, 1.8018018018vw, 20px);
  color: #2C2D35;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s;
}
@media (hover: hover) {
  .nav__link:hover:hover {
    color: #598D66;
  }
  .nav__link:hover:active {
    color: #2C2D35;
    background-color: #d4e8d9;
  }
}
@media (hover: none) {
  .nav__link:active:hover {
    color: #598D66;
  }
  .nav__link:active:active {
    color: #2C2D35;
    background-color: #d4e8d9;
  }
}

.basket-btn__icon {
  font-size: 30px;
  transition: color 0.3s, background-color 0.3s;
}
@media (hover: hover) {
  .basket-btn__icon:hover:hover {
    color: #598D66;
  }
  .basket-btn__icon:hover:active {
    background-color: #d4e8d9;
  }
}
@media (hover: none) {
  .basket-btn__icon:active:hover {
    color: #598D66;
  }
  .basket-btn__icon:active:active {
    background-color: #d4e8d9;
  }
}

.mobile-menu {
  background-color: #E1EDE6;
  width: 100%;
  max-height: 100%;
}
@media (max-width: 576px) {
  .mobile-menu.active {
    display: block;
    overflow: hidden;
  }
}
.mobile-menu__nav {
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 15px;
}
.mobile-menu__link {
  font-size: 18px;
  color: #2C2D35;
}

@media (max-width: 576px) {
  .hero {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .hero {
    background-color: #E5E5E5;
  }
}
.hero__container {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 576px) {
  .hero__img {
    display: none;
  }
}
.hero__content {
  flex-basis: 540px;
}
.hero__title {
  font-size: clamp(30px, 5.4545454545vw, 60px);
  line-height: 1.1;
  margin-bottom: 20px;
}
.hero__title .green-text {
  color: #376B44;
}
@media (max-width: 576px) {
  .hero__title {
    margin-bottom: 10px;
  }
}
.hero__description {
  font-size: clamp(14px, 1.6363636364vw, 18px);
  color: #86928B;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .hero__description {
    margin-bottom: 40px;
  }
}
.hero__link {
  font-size: clamp(18px, 1.8181818182vw, 20px);
  color: #376B44;
  border: 1px solid #376B44;
  padding: 21px 60px;
  transition: color 0.3s, background-color 0.3s;
}
@media (hover: hover) {
  .hero__link:hover:hover {
    color: #fff;
    background-color: #376B44;
  }
  .hero__link:hover:active {
    opacity: 0.8;
  }
}
@media (hover: none) {
  .hero__link:active:hover {
    color: #fff;
    background-color: #376B44;
  }
  .hero__link:active:active {
    opacity: 0.8;
  }
}
@media (max-width: 768px) {
  .hero__link {
    padding: 18px 51px;
  }
}
@media (max-width: 576px) {
  .hero__link {
    padding: 14px 41px;
  }
}

.product {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 576px) {
  .product {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.product__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .product__inner {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}
.product__title {
  font-size: clamp(24px, 3.6036036036vw, 40px);
}
.product__country-list {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 420px) {
  .product__country-list {
    width: 100%;
    overflow-x: scroll;
  }
}
.product__country-item {
  font-size: clamp(18px, 1.8018018018vw, 20px);
  transition: color 0.3s, background-color 0.3s;
  padding: 10px 20px;
  background-color: #E1EDE6;
  border-radius: 20px;
  cursor: pointer;
}
.product__country-item--active {
  background-color: #376B44;
  color: #fff;
}
.product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 768px) {
  .product__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .product__list {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: #E1EDE6;
  padding: 20px 20px 30px;
  max-width: 350px;
  height: 100%;
}
@media (max-width: 576px) {
  .card {
    margin-inline: auto;
  }
}
.card__img {
  margin-bottom: 20px;
}
.card__writer {
  font-size: clamp(16px, 1.6216216216vw, 18px);
  color: #86928B;
  margin-bottom: 10px;
}
.card__name {
  font-size: clamp(24px, 2.7027027027vw, 30px);
  margin-bottom: 10px;
}
.card__description {
  font-size: clamp(16px, 1.6216216216vw, 18px);
  margin-bottom: 30px;
}
.card__price {
  font-size: clamp(20px, 2.1621621622vw, 24px);
  color: #598D66;
  margin-bottom: 20px;
}
.card__btn {
  font-size: clamp(18px, 1.8018018018vw, 20px);
  color: #598D66;
  border: 1px solid #598D66;
  padding: 21px 0;
  width: 100%;
}
@media (max-width: 576px) {
  .card__btn {
    padding: 15px 0;
  }
}

/*# sourceMappingURL=style.css.map */
