.product {
  @include section-padding-x;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
      align-items: start;
    }
  }

  &__title {
    @include fluid-text(24, 40, 1110);
  }

  &__country-list {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: 420px) {
      width: 100%;
      overflow-x: scroll;
    }
  }

  &__country-item {
    @include fluid-text(18, 20, 1110);
    @include transition-color;
    padding: 10px 20px;
    background-color: $components-background-color;
    border-radius: 20px;
    cursor: pointer;
  }

  &__country-item--active {
    background-color: $accent-color;
    color: $white-color;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
}

.card {
  background-color: $components-background-color;
  padding: 20px 20px 30px;
  max-width: 350px;
  height: 100%;

  @media (max-width: 576px) {
    margin-inline: auto;
  }

  &__img {
    margin-bottom: 20px;
  }

  &__writer {
    @include fluid-text(16, 18, 1110);
    color: $text-color-secondary;
    margin-bottom: 10px;
  }

  &__name {
    @include fluid-text(24, 30, 1110);
    margin-bottom: 10px;
  }

  &__description {
    @include fluid-text(16, 18, 1110);
    margin-bottom: 30px;
  }

  &__price {
    @include fluid-text(20, 24, 1110);
    color: $components-main-color;
    margin-bottom: 20px;
  }

  &__btn {
    @include fluid-text(18, 20, 1110);
    color: $components-main-color;
    border: 1px solid $components-main-color;
    padding: 21px 0;
    width: 100%;

    @media (max-width: 576px) {
      padding: 15px 0;
    }
  }
}
