body {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 500;
  color: $text-color-primary;
}

.container {
  width: 100%;
  max-width: calc($container-width + ($container-padding-y * 2));
  margin-inline: auto;
  padding-inline: $container-padding-y;
}

.visibility-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  bottom: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}