// font
$font-primary: 'Raleway', sans-serif;

// colors
$text-color-primary: #2C2D35;
$text-color-secondary: #86928B;
$accent-color: #376B44;
$components-main-color: #598D66;
$components-background-color: #E1EDE6;

// sizes
$container-width: 1110px;
$container-padding-y: 15px;
$icon-size: 30px;